.forgotContainer{
    /* background: white; */
    width: 400px ;
    height: 450px;
    border: 2px transparent;
    padding-top: 20px;
    margin: auto ;
}
/* .header{
    /* margin-top: 20px; 
    margin-bottom: 40px;
    font:bolder;
    color: rgb(235, 192, 2);
    text-align: center;
}
.loginInput{
    color: black;
    display: block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;

}
.loginF{
    color: blue;
    margin-right: 0;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
}
.loginLabel{
    text-align:left;
    font-size: 10px;
    font-weight: 700;
}
.loginLabel2{
    font-size: 12px;
    font-weight: 700;
}
.login{
    margin-bottom: 25px;
}
.loginError{
    color: red;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 900;
}
.loginFlex{
    display: flex;
    justify-content: space-between;
}
.loginBtn{
    margin-top: 30px;
    margin-bottom: 10px;
    background: rgb(235, 192, 2);
    width: 100%;
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    font-weight: 600;
    color:white;
}
 @media screen and (max-width: 750px){
    .loginContainer{
        /* background: white; 
        width: 300px ;
        height: 400px;
        border: 2px transparent;
        margin: auto ;
        /* text-align: center;
    }
 } */