/* a{
  text-decoration: none;
  color: aliceblue;
}

a.fb{
  background: url("./images/fb1.png") no-repeat center;
  background-size: contain;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-right: 0.9em;
  padding-left: 0.9em;
  border: 0.1em white solid;
  border-radius: 1em;
  
}
a.in{  
  background: url("./images/logo.png") no-repeat center;
  background-size: contain;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-right: 0.9em;
  padding-left: 0.9em;
  border: 0.1em white solid;
  border-radius: 1em;
}
a.tw{
  background: url("./images/twitter (1).png") no-repeat center;
  background-size: contain;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-right: 0.9em;
  padding-left: 0.9em;
  border: 0.1em white solid;
  border-radius: 1em;
} */
